<div class="shadow3">
    <img src="App/Images/sudoku.gif" class="rounded mt-1 mx-auto d-block" alt="Sudoku">
    <h1 class="heading mt-3">SUDOKU <span class="version">{{home.version}}</span></h1>
    <center>
        <button ng-click="home.play()" type="button" id="playbtn" class="btn shadow btn-success btn-lg"><span><i class="far fa-play-circle"></i><span> Play</button><br>
    </center>

    <section class="trial-block" style="margin-top: -2%;" id="ContactUs">
        <div class="height450">
            <div class="social-overlap process-scetion mt100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="social-bar">
                                <div class="social-icons iconpad text-center">
                                    <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-facebook"></i></a>
                                    <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-google-plus"></i></a>
                                    <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-github"></i></a>
                                    <a href="#" target="_blank" class="slider-nav-item"><i class="fas fa-globe"></i></a>
                                    <a href="#" target="_blank" class="slider-nav-item"><i class="fab fa-linkedin"></i></a>
                                    <center><a href="http://shubhamsweb.in/" target="_blank" class="intro"><span>V {{dash.version}}</span><br />by Shubham Agrawal &#10084;</a></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>